<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Payment Details</h2>
    <form  method="post" action="{% url 'payment'%}">
      {% csrf_token %}
      {% comment %} {% if user.is_authenticated %}
      <input type="hidden" name="username" value="{{user.username}}">
      {% endif %} {% endcomment %}
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" class="form-control" id="cardNumber" placeholder="Enter card number" name="cardnumber" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="expiryDate">Expiry Date</label>
          <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY"  name="expdate" required>
        </div>
        <div class="form-group col-md-6">
          <label for="cvv">CVV</label>
          <input type="text" class="form-control" id="cvv" placeholder="Enter CVV" name="cvv" required>
        </div>
      </div>
      <div class="form-group">
        <label for="cardHolderName">Cardholder Name</label>
        <input type="text" class="form-control" id="cardHolderName" name="cardname" placeholder="Enter cardholder name" required>
      </div>
      
       
      <div class="form-group">
        <label for="totalAmount">Total Amount</label>
        <input type="text" class="form-control" id="totalAmount"  name="amount" value="{{}}" placeholder="Enter total amount" required>
      </div>
      <button type="submit" class="btn btn-primary" >Make Payment</button>
    </form>
  </div>

  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
